//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,;1,400&display=swap');
$color-dark: #000;
$color-dark-1: #ccc;
$color-dark-light: #807f7f;
$color-dark-2: #1a1919;
$color-white: #fff;

/* Fonts */
$font-primary: /*'Open Sans', sans-serif*/ 'Open Sans', sans-serif;
/* Buttons */
// Primary btn and secondary btn

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  border: 0;
  outline: none;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-variant: normal;
  text-transform: none;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 300;
}

p,
ul,
ol,
strong,
em,
small {
  margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.3em;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
  margin-bottom: 1em;
}
p {
  font-size: 1.1em;
  font-weight: 100;
}

em {
  font-weight: bold;
}

.font-dark {
  color: $color-dark;
}

.container {
  padding: 0.7em 0.6em;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.7em 1.3em;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
  border-radius: 999px;
  border: solid 2px transparent;
  //box-shadow: #d1d1d1 -10px 8px 0;
}
.btn:hover {
  cursor: pointer;
  -webkit-transform: translate(5px, -4px);
  -ms-transform: translate(5px, -4px);
  transform: translate(5px, -4px);
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
  box-shadow: -10px 8px 0 #3c3c3c;
}

.btn-primary {
  position: relative;
  background-color: #fff;
  color: #334;
  border: 0.2em solid $color-white;
}

.btn-secondary {
  color: $color-white;
  background-color: transparent;
  box-sizing: border-box;
  border: 0.2em solid $color-white;
  z-index: 2;
}

.btn-black {
  position: relative;
  background-color: $color-dark;
  color: $color-white;
  border: 0.2em solid $color-dark;
}

@media (min-width: 476px) {
  .btn {
    margin: 0 0.5em;
  }
}

@media (min-width: 520px) {
  h2 {
    font-weight: 100;
  }
  em {
    font-weight: bold;
  }
}

@media (min-width: 780px) {
  h3 {
    font-weight: 100;
  }
}

@media (min-width: 1040px) {
  h2 {
    font-size: 1.9em;
  }
}

@media (min-width: 1300px) {
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.8em;
    font-weight: 100;
  }
}

/*
h3 {
  font-size: 1em;
}

p {
  font-size: 0.8em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  color: $color-background;
  font-weight: bold;
  padding: 0.5em 0 1em;
}

.container {
  padding: 0.7em 0.6em;
}

.container__button-orange {
  background: $btn-color-orange;
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  color: $color-white;
  padding: 0.8em;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5% auto 5%;

  &:hover {
    background-color: $btn-color-orange-light;
    cursor: pointer;
  }

  & a {
    color: $color-white;
    text-decoration: none;
  }
}

.feature__btn {
  background: $color-dark-2;
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5% auto 5%;
  &:hover {
    background-color: $color-light;
    cursor: pointer;
  }
}


@media (min-width: 475px) {
  .container__button-orange {
    width: 80%;
    font-size: 1em;
  }
  .feature__btn {
    width: 80%;
    font-size: 1em;
  }
}

@media (min-width: 550px) {
  .container__button-orange {
    width: 100%;
    font-size: 0.9em;
  }
  .sidebar-btn {
    width: 80%;
  }

  .feature__btn {
    width: 60%;
    font-size: 0.9em;
  }
}

@media (min-width: 1018px) {
  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  .container__button-orange {
    width: 40%;
    font-size: 0.9em;
    margin: 5% 0;
  }

  .feature__btn {
    width: 30%;
    font-size: 0.9em;
    margin: 5% 0;
  }
}

@media (min-width: 1250px) {
  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .container {
    padding: 0.8em 5em;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0.8em 8em;
  }
}

@media (min-width: 1663px) {
  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .container {
    padding: 0.8em 15em;
  }
}


*/
