.products-containeer {
  padding: 2em 1em;
  background-color: #f7f7f7;
  text-align: center;

  h3 {
    font-size: 1.5em;
    margin: 1em;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5em;
    background: linear-gradient(-36deg, #000 0%, #202020 80%);

    &:hover {
      transition: all 0.2s cubic-bezier(0.83, 0.16, 0.38, 0.9) 0s;
      -webkit-transform: translate(0, -3.25px);
      -ms-transform: translate(0, -3.25px);
      transform: translate(0, -3.25px);
      box-shadow: 0 6.5px 19.5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    &__image-holder {
      width: 35%;
    }

    &-title {
      color: $color-white;
      font-size: 0.5em;
    }

    &-link {
      width: 100%;
      border: 0;
      font-size: 0.8em;
      font-weight: bold;
      color: $color-dark;
      padding: 1rem;
      background-color: $color-white;
    }
  }
}

@media (min-width: 475px) {
  .products-containeer {
    padding: 2em 2em;
  }
}

@media (min-width: 650px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  .products-containeer {
    padding: 2em 3em;

    h3 {
      font-size: 1.8em;
      margin-bottom: 1em;
    }
  }
}
@media (min-width: 1170px) {
  .products-containeer {
    padding: 2em 5em;
  }

  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1300px) {
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5em;
    background: linear-gradient(-36deg, #000 0%, #202020 80%);

    & h3 {
      font-weight: 500;
    }

    &__image-holder {
      width: 35%;
      padding-top: 1rem;
    }
  }

  .products-containeer {
    padding: 2em 10em;
  }
}
